In [1]:
import pandas as pd

In [67]:
df = pd.read_csv('data/DatosVuelo.csv', delimiter=';', low_memory=False)
print(df.shape)
l = df.isna().sum()
df1 = pd.DataFrame({"col":l.index, "na_vals":l.values})
# df1[df1.na_vals > df.shape[0]/2].col

df = df[df.flightDate.notna()]

# df.drop(labels=df1[df1.na_vals > df.shape[0]/2].col, axis=1, inplace=True)
# df.drop(labels=['originlat','originlon','destlat','destlon'], axis=1, inplace=True)

df

(49872, 77)

,carrierCode,carrierName,flightDate,tailNum,flightNum,crsDepTime,depTime,wheelsOff,wheelsOn,crsArrTime,...,div1state,div1country,div1lat,div1lon,div2airportname,div2city,div2state,div2country,div2lat,div2lon
100,AA,American Airlines Inc.,2008-10-25,N335AA,2.0,935.0,935.0,954.0,2142.0,1802.0,...,NY,USA,43.111187,-76.106311,NaN,NaN,NaN,NaN,NaN,NaN
101,AA,American Airlines Inc.,2008-10-25,N352AA,24.0,810.0,823.0,849.0,2115.0,1640.0,...,VA,USA,38.944532,-77.455810,NaN,NaN,NaN,NaN,NaN,NaN
102,AA,American Airlines Inc.,2008-10-25,N319AA,181.0,1745.0,1938.0,2116.0,105.0,2100.0,...,NV,USA,36.080361,-115.152333,NaN,NaN,NaN,NaN,NaN,NaN
103,AA,American Airlines Inc.,2008-10-25,N5FSAA,258.0,730.0,819.0,831.0,1838.0,1545.0,...,CT,USA,41.938874,-72.683228,NaN,NaN,NaN,NaN,NaN,NaN
104,AA,American Airlines Inc.,2008-10-25,N583AA,358.0,1600.0,1600.0,1612.0,2315.0,1920.0,...,MD,USA,39.175402,-76.668198,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49842,YV,Mesa Airlines Inc.,2008-10-25,N715SF,7349.0,1316.0,1316.0,1323.0,1507.0,1518.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49843,YV,Mesa Airlines Inc.,2008-10-26,N27314,7349.0,1316.0,1308.0,1331.0,1511.0,1522.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49844,YV,Mesa Airlines Inc.,2008-10-26,N27314,7349.0,1551.0,1811.0,1821.0,1804.0,1600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49845,YV,Mesa Airlines Inc.,2008-10-27,N515MJ,7349.0,1316.0,1409.0,1424.0,1610.0,1522.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49846,YV,Mesa Airlines Inc.,2008-10-27,N515MJ,7349.0,1550.0,1801.0,1808.0,1751.0,1559.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
pd.set_option('future.no_silent_downcasting', True)
df.fillna(0, inplace=True)
df['totalDelay'] = df.carrierDelay + df.weatherDelay + df.nasDelay + df.securityDelay + df.lateAircraftDelay
# df[df.totalDelay.isna()][['carrierDelay', 'weatherDelay', 'nasDelay', 'securityDelay', 'lateAircraftDelay']]
df[(df.totalDelay > 0)]
# df

,carrierCode,carrierName,flightDate,tailNum,flightNum,crsDepTime,depTime,wheelsOff,wheelsOn,crsArrTime,...,div1country,div1lat,div1lon,div2airportname,div2city,div2state,div2country,div2lat,div2lon,totalDelay
123,AA,American Airlines Inc.,2008-10-27,N320AA,2.0,935.0,940.0,1005.0,1805.0,1802.0,...,0,0.0,0.0,0,0,0,0,0.0,0.0,25.0
128,AA,American Airlines Inc.,2008-10-26,N381AA,5.0,1250.0,1311.0,1328.0,1613.0,1555.0,...,0,0.0,0.0,0,0,0,0,0.0,0.0,20.0
129,AA,American Airlines Inc.,2008-10-27,N362AA,5.0,1250.0,1253.0,1309.0,1607.0,1555.0,...,0,0.0,0.0,0,0,0,0,0.0,0.0,15.0
134,AA,American Airlines Inc.,2008-10-26,N360AA,7.0,1155.0,1200.0,1227.0,1519.0,1505.0,...,0,0.0,0.0,0,0,0,0,0.0,0.0,21.0
141,AA,American Airlines Inc.,2008-10-27,N329AA,10.0,2130.0,2130.0,2150.0,555.0,545.0,...,0,0.0,0.0,0,0,0,0,0.0,0.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49833,YV,Mesa Airlines Inc.,2008-10-26,N75996,7347.0,1940.0,2103.0,2118.0,2326.0,2221.0,...,0,0.0,0.0,0,0,0,0,0.0,0.0,69.0
49834,YV,Mesa Airlines Inc.,2008-10-27,N154SF,7347.0,2010.0,2221.0,2242.0,44.0,2251.0,...,0,0.0,0.0,0,0,0,0,0.0,0.0,116.0
49844,YV,Mesa Airlines Inc.,2008-10-26,N27314,7349.0,1551.0,1811.0,1821.0,1804.0,1600.0,...,0,0.0,0.0,0,0,0,0,0.0,0.0,130.0
49845,YV,Mesa Airlines Inc.,2008-10-27,N515MJ,7349.0,1316.0,1409.0,1424.0,1610.0,1522.0,...,0,0.0,0.0,0,0,0,0,0.0,0.0,52.0
49846,YV,Mesa Airlines Inc.,2008-10-27,N515MJ,7349.0,1550.0,1801.0,1808.0,1751.0,1559.0,...,0,0.0,0.0,0,0,0,0,0.0,0.0,120.0