In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [9]:
songs_df=pd.read_csv('data/songs.csv')
display(songs_df.head(5))

,song_id,song_name,artist_names,genre,duration_ms,danceability,valence,tempo,explicit,lyrics
0,5XM67HdnPub0nMDqJEUPdy,The Best Side Of Life,Sarah Connor,pop,229333,0.631,0.554,90.947,False,Is calling me home \n The best time of the yea...
1,1xK1Gg9SxG8fy2Ya373oqb,Bandido,"Myke Towers, Juhn",Reggaeton,232853,0.713,0.682,168.021,False,"Ella e' buena, pero le gustan lo' malo' (Malo'..."
2,1mlGScrDQqHqmhdIqE8MmA,Besos En Guerra,"Morat, Juanes",pop,231533,0.690,0.772,143.957,False,¿Quién te dijo esa mentira? \n Que eras fácil ...
3,4J2HLNTxiVxxs6kWgTIN43,Porfa no te vayas,"Beret, Morat",spanish,209712,0.589,0.792,171.976,False,Recuerdo aquel verano que pasé contigo \n Y ca...
4,0e8nrvls4Qqv5Rfa2UhqmO,THATS WHAT I WANT,Lil Nas X,Hip-Hop,143901,0.737,0.546,87.981,True,"One, two, three, four \n \n Need a boy who ca..."

The column `duration_ms` contains the duration of songs in milliseconds. Derive from it a new column `duration` that contains the duration in minutes. Then delete the column `duration_ms`. Display the `song_name`, `artist_names` and `duration` of the 5 longest songs

In [10]:
songs_df["duration"]=songs_df["duration_ms"]/1000/60
songs_df.drop(columns=["duration_ms"], axis=1, inplace=True)
songs_df.sort_values(by=["duration"],ascending=False,inplace=True)
songs_df[["song_name","artist_names","duration"]].head(5)

,song_name,artist_names,duration
274,All Too Well (10 Minute Version) (Taylor's Ver...,Taylor Swift,10.217117
1346,"Weihnachtsoratorium, BWV 248: Part I: For the ...","Johann Sebastian Bach, Nikolaus Harnoncourt",7.977550
789,105 F Remix,"KEVVO, Farruko, Chencho Corleone, Arcangel, Da...",7.736667
620,Only Fans - Remix,"Young Martino, Lunay, Myke Towers, Jhay Cortez...",7.042950
1256,Te Boté - Remix,"Nio Garcia, Casper Magico, Bad Bunny, Darell, ...",6.965333

Songs can be uniquely identified via their `song_id`, while a given `song_name` may be performed by several, different artists.
How many song_ids and how many different song_names are contained in the data set? Print a short answer text.

In [11]:
print(
f"there are {songs_df['song_id'].nunique()} songs \nand there are {songs_df['song_name'].nunique()} song names"
)

there are 2132 songs
and there are 1851 song names

Calculate the average `tempo` per genre, and display the 5 genres with the highest average tempo.

In [12]:
songs_df.groupby(by=["genre"]).tempo.mean().sort_values(ascending=False).head(5)

genre
Corridos tumbados    200.156
Rock and Roll        190.448
Psychedelic Rock     182.008
Classical            177.171
hardstyle            172.000
Name: tempo, dtype: float64

If a song is marked as `explicit`, it means that it contains strong language, reference to violence, sexual activity, etc. What percentage of songs are marked as `explicit`? Print a short answer text.

In [13]:
ans=songs_df.explicit.map(lambda x: 1 if x=="True" else 0).sum()*100/ len(songs_df)
print(f"{round(ans,2)}% percent of songs are explicit")

29.22% percent of songs are explicit

How many songs use the words "Christmas" in the lyrics? Print a short answer text.

In [14]:
print(len(songs_df[songs_df["lyrics"].str.contains("Christmas").fillna(False)]),"songs")

280 songs

/var/folders/_7/6pp17s8j4cqfpsp03pb4sszw0000gn/T/ipykernel_78924/2434764238.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  print(len(songs_df[songs_df["lyrics"].str.contains("Christmas").fillna(False)]),"songs")

Count for each song how often the word "love" occurs in the `lyrics`. Display the `song_name`, `artist_names` and the number of occurrences of "love" for the 5 songs with the highest number of occurences.

In [15]:
def love_fun(lyrics):
    if type(lyrics)==float:
        return 0
    return len(lyrics.split("love"))-1
songs_df["love_count"]=songs_df.lyrics.transform(love_fun)
songs_df[["song_name","artist_names","love_count"]].sort_values("love_count",ascending=False).head(5)

                 song_name  artist_names  love_count
2099              My Lover         Not3s          55
929    Lose You To Love Me  Selena Gomez          48
1666  Is Your Love Enough?    Little Mix          32
514           Shape of You    Ed Sheeran          26
1091      SPIT IN MY FACE!      ThxSoMch          26

The files `charts_xx.csv` contain the top 200 songs of the respective country (de: Germany, us: United States, gb: Great Britain, es: Spain ) on the days December 24 of the years 2017 - 2022.

Read in the four data sets and combine them appropriately into a single "tidy" data frame. Avoid repetitions in your code as much as possible.

In [16]:
# df_de=pd.read_csv("data/charts_de.csv")
# df_es=pd.read_csv("data/charts_es.csv")
# df_gb=pd.read_csv("data/charts_gb.csv")
# df_us=pd.read_csv("data/charts_us.csv")

# display(df_de)
# display(df_es)
# display(df_gb)
# display(df_us)
# chart_df=pd.merge(df_de, df_es, "left", "song_id")
# chart_df=pd.merge(chart_df, df_gb, "left", "song_id")
# # chart_df=pd.merge(chart_df, df_us, "left", "song_id")

# display(chart_df)

#############################################################
charts_df = pd.DataFrame()
charts = {}
countries = ["de", "es", "gb", "us"]

for country in countries:
    charts[country] = pd.read_csv(f"data/charts_{country}.csv")
    charts[country]['country'] = country  # Add country column
    if charts_df.empty:
        charts_df = charts[country]
    else:
        charts_df = pd.concat([charts_df, charts[country]], ignore_index=True)

display(charts_df)

,date,position,song_id,song_name,artist_names,streams,country
0,2022-12-24,1.0,0bYg9bo50gSsH3LtXe2SQn,All I Want for Christmas Is You,Mariah Carey,3267242,de
1,2022-12-24,2.0,2FRnf9qhLbvw8fu4IBXx78,Last Christmas,Wham!,3217134,de
2,2022-12-24,3.0,2TE4xW3ImvpltVU0cPcKUn,Merry Christmas Everyone,Shakin' Stevens,2797277,de
3,2022-12-24,4.0,1rv46mRwDqMEhOBZ7vODg3,It's Beginning to Look a Lot like Christmas,Michael Bublé,2350886,de
4,2022-12-24,5.0,27qAMKrDdKEs8HDXcvR24R,Driving Home for Christmas - 2019 Remaster,Chris Rea,2317764,de
...,...,...,...,...,...,...,...
4793,2017-12-24,NaN,1Qg9jWGDkKAGZXj5v2OG59,Wait,Maroon 5,218519,us
4794,2017-12-24,NaN,3YeJXuRSNS5FYwOsDu44kD,Dark Knight Dummo (feat. Travis Scott),"Trippie Redd, Travis Scott",218033,us
4795,2017-12-24,NaN,6tN6rdEfm6ZtuKsqpoh3on,Rudolph The Red Nosed Reindeer,DMX,216793,us
4796,2017-12-24,NaN,6SwRhMLwNqEi6alNPVG00n,LOYALTY. FEAT. RIHANNA.,"Kendrick Lamar, Rihanna",216659,us
4797,2017-12-24,NaN,1dtIaSlyrLI04sqYa8nLyN,Rudolph the Red-Nosed Reindeer,Gene Autry,216400,us


# Display the total number of streams per country on the date 2022-12-24

In [17]:
total_streams_per_country = charts_df[charts_df['date'] == '2022-12-24'].groupby('country')['streams'].sum()
print(total_streams_per_country)

country
de    108837012
es     31182666
gb     59695507
us    161514161
Name: streams, dtype: int64

In [18]:
Total_stream_by_country= charts_df[charts_df["date"]=="2022-12-24"].groupby("country")["streams"].sum()
Total_stream_by_country

country
de    108837012
es     31182666
gb     59695507
us    161514161
Name: streams, dtype: int64

Calculate the average `danceability` and the total number of `streams` per country.

Notes:

- For this task you need to combine the songs and charts DataFrames appropriately into a single DataFrame.
- If you did not manage to solve exercise 5, you can use the file `charts_backup.csv`.

In [19]:
# df_songs = pd.read_csv("data/songs.csv")
# df_songs

# # # Select the columns to keep from each DataFrame
# # columns_to_keep = ['song_id', 'song_name', 'artist_names', 'duration', 'tempo', 'explicit', 'lyrics', 'genre']
# df_songs.drop(columns=["song_name","artist_names"],axis=1,inplace=True)
# # Merge the DataFrames
# df = pd.merge(charts_df, df_songs, on="song_id", how="inner")
# # Display the merged DataFrame
# df

# # Calculate the average `danceability` and the total number of `streams` per country.
# result = df.groupby('country').agg({'danceability': 'mean', 'streams': 'sum'})
# result

Calculate the average `danceability` and the total number of `streams` per country.

Notes:

- For this task you need to combine the songs and charts DataFrames appropriately into a single DataFrame.
- If you did not manage to solve exercise 5, you can use the file `charts_backup.csv`.

In [20]:
df_songs=pd.read_csv("data/songs.csv")
songs_df.drop(columns=["song_name","artist_names"])
df=pd.merge(charts_df,songs_df,"inner","song_id")
df.groupby("country").agg({'streams':'sum','danceability':'mean'})

           streams  danceability
country
de       491345726      0.553947
es       134341837      0.679203
gb       286075531      0.572602
us       747236256      0.598899