# Task 2

To solve the following exercises you need the following two data files:

- **charts.csv**: contains information on the Top 200 Spotify charts per country and week: for instance a song identifier, the position in the ranking, and the number of streams (for a given country and week)
- **songs.csv** contains details on individual songs: e.g. the song name, artist, genre, its duration, and more variables

In [ ]:
# Import Packages here
import pandas as pd
import numpy as np

## Exercise 1 (10 points)
- Read in the data sets `songs.csv`. 
- Display the first five observations.
- Print the number of rows and columns.

In [2]:
df_songs = pd.read_csv('songs.csv')
display(df_songs.head(5))
print(f"There are {df_songs.shape[0]} rows and {df_songs.shape[1]} columns")

,song_id,artist_name,song_name,genre,duration_ms,explicit,danceability,loudness,speechiness,acousticness,instrumentalness,valence
0,00mBzIWv5gHOYxwuEJXjOG,December Avenue,Sa Ngalan Ng Pag-Ibig,pop,285138.0,False,0.518,-3.907,0.0305,0.0851,0.000000,0.271
1,00tnXAltVLyIWok9sCWdjL,Dani Mocanu,Afaceri Ilegale,other,176248.0,False,0.588,-4.680,0.3570,0.4000,0.000000,0.425
2,00x2d2mKSaUrCNTNxH7CYN,Sigma,ALYX,other,167619.0,True,0.495,-10.033,0.3690,0.2800,0.000000,0.368
3,011Xn3Wqii67s4aaPgheiu,Marteria,"Love, Peace & Happiness",rap,213701.0,False,0.845,-7.397,0.1470,0.3040,0.000021,0.377
4,014DA3BdnmD3kI5pBogH7c,Chillies,Cứ Chill Thôi,indie,270000.0,False,0.781,-8.452,0.0408,0.2170,0.000036,0.609

There are 7388 rows and 12 columns

## Exercise 2 (10 points)
Display the columns `song_name`, `artist_name`, and `danceability` of the 10 songs with the lowest danceability.

In [5]:
df_songs[['song_name','artist_name','danceability']].sort_values('danceability').head(5)

,song_name,artist_name,danceability
3504,Jólastjarnan,Memfismafían,0.141
5566,"Intro to Fake News - from ""Spider-Man: No Way ...",Michael Giacchino,0.143
1706,O Helga Natt,Nils Bech,0.145
484,Can You Feel My Heart,Bring Me The Horizon,0.150
30,Have Yourself A Merry Little Christmas,Judy Garland,0.156

## Exercise 3 (10 points)
- The column `duration_ms` represents the song duration in milliseconds. Create a new column `duration_min` that represents the duration in minutes. 
- Display all songs longer than or equal to 15 minutes.

In [9]:
df_songs['duration_min'] = df_songs.duration_ms / 1000 / 60
df_songs[df_songs.duration_min >= 15]

,song_id,artist_name,song_name,genre,duration_ms,explicit,danceability,loudness,speechiness,acousticness,instrumentalness,valence,duration_min
1474,1YAi1uIjqSVMWdvsuK4oUQ,Kelvin Momo,Ivy League,other,996089.0,False,0.792,-17.201,0.046,0.0146,0.593,0.178,16.601483
3506,3fq0e1TpOQFBDi0vuYrePo,Fer Palacio,Previa y Cachengue 40 - Remix,other,928269.0,False,0.595,-7.228,0.217,0.1630,0.000,0.646,15.471150
5284,5WIK8KuxlEWbrQcRDEpHXV,Sun Diego,Apocalyptic Endgame,hip hop,1300000.0,True,0.454,-4.520,0.275,0.0185,0.000,0.418,21.666667

## Exercise 4 (10 points)
- For each `genre` calculate the minimum, average, and maximum `danceability`, as well as the number of songs that belong to this genre.

In [13]:
gby = df_songs.groupby('genre')
pd.DataFrame({
    "min_danceability":gby.danceability.min(),
    "max_danceability":gby.danceability.max(),
    "mean_danceability":gby.danceability.mean(),
    "size":gby.size()
})

                   min_danceability  max_danceability  mean_danceability  size
genre
alternative                   0.303             0.797           0.625437    32
dance                         0.394             0.843           0.659350    40
electronic                    0.262             0.964           0.682172   232
folk                          0.160             0.942           0.614743    74
hip hop                       0.161             0.975           0.718825  1156
house                         0.367             0.951           0.696558    77
indie                         0.250             0.980           0.605300   210
japanese                      0.310             0.927           0.631611   149
korean                        0.362             0.961           0.652156    77
latin                         0.342             0.943           0.715427   171
other                         0.141             0.974           0.666230  2540
pop                           0.145             0.968           0.616312  1173
rap                           0.337             0.979           0.735078   651
reggaeton                     0.400             0.942           0.753335   212
rock                          0.176             0.952           0.600646   263
singer songwriter             0.316             0.872           0.609429    77
soul                          0.269             0.962           0.624078   103
trap                          0.405             0.934           0.742344   151

## Exercise 5 (10 points)
Calculate the average `valence` of all songs. (10 points)

In [20]:
df_songs.valence = pd.to_numeric(df_songs.valence, errors='coerce')
df_songs.valence.mean()

np.float64(0.521122799891687)

## Exercise 6 (20 points) 
For the following tasks you need to merge the two data sets (charts and songs). Specifically:

- First, read in the file `charts.csv` and display its first five columns. You are allowed to rename columns if you consider it helpful.
- Second, analyse potential merge problems: 1) How many songs from charts.csv have no corresponding song metadata? 2) How many songs from songs.csv do not appear in the charts data set. State which merge type(s) is/are appropriate, if your goal is to loose no information from any of the two datasets.
- Third, carry out the merge operation, and print the shape of the resulting data frame.

In [70]:
df_charts = pd.read_csv('charts.csv', delimiter=';')
df_charts.columns = df_charts.columns.map(lambda x: x.lower())
df_charts.date = pd.to_datetime(df_charts.date)
df_charts.head(5)

,chart_id,type,country,interval,date,song_id,position,streams
0,regional-ae-weekly-2021-12-23,regional,ae,weekly,2021-12-23,5PjdY0CKGZdEuoNab3yDmX,1.0,63427
1,regional-ae-weekly-2021-12-23,regional,ae,weekly,2021-12-23,5Z9KJZvQzH6PFmb8SNkxuk,2.0,56828
2,regional-ae-weekly-2021-12-23,regional,ae,weekly,2021-12-23,2Xr1dTzJee307rmrkt8c0g,3.0,55401
3,regional-ae-weekly-2021-12-23,regional,ae,weekly,2021-12-23,02MWAaffLxlfxAUY7c5dvx,4.0,53732
4,regional-ae-weekly-2021-12-23,regional,ae,weekly,2021-12-23,46IZ0fSY2mpAiktS3KOqds,5.0,50906

In [57]:
df_charts[~df_charts.song_id.isin(df_songs.song_id.unique())].shape[0]

53

In [58]:
df_songs[~df_songs.song_id.isin(df_charts.song_id.unique())].shape[0]

376

In [72]:
df = pd.merge(left=df_songs, right=df_charts, on='song_id', how='outer')
df.shape

(24371, 20)

## Exercise 7 (15 points)

Consider the charts of the week prior to christmas (date: 2021-12-23). How many songs that appeared in the German (de) charts during this week also appear in the charts of the Unites States (us)?

In [ ]:
from datetime import datetime
country_list = ['de','us']
df_week_xmas = df[df.date==datetime(2021,12,23)]
df_week_xmas[df_week_xmas.country == 'de'].song_id.isin(df_week_xmas[df_week_xmas.country == 'us'].song_id).sum()

np.int64(64)

## Exercise 8 (15 points)

The variable `chart_id` contains information on several different aspects, which are currently also represented via the 4 variables `type`, `country`, `interval` and `date`. Your task is to parse `chart_id` into its components. Specifically:

- Drop the columns `type`, `country`, `interval` and `date` permanently from the data set.
- Then recover these four variables by parsing the string column `chart_id` appropriately.

- Report the column `chart_id` and the four new columns for the first five rows of the data set.

In [151]:
df.chart_id.sample()

14583    regional-za-weekly-2021-12-23
Name: chart_id, dtype: object

In [152]:
_df = df.copy()
_df.drop(labels=['type', 'country', 'interval', 'date'], axis=1, inplace=True)
_df[['type', 'country', 'interval', 'date']] = _df.chart_id.str.split('-',n=3, expand=True)

_df[['chart_id','type', 'country', 'interval', 'date']].head(5)

                        chart_id      type country interval        date
0  regional-au-weekly-2021-12-23  regional      au   weekly  2021-12-23
1  regional-de-weekly-2021-04-08  regional      de   weekly  2021-04-08
2  regional-de-weekly-2021-11-18  regional      de   weekly  2021-11-18
3  regional-gb-weekly-2021-12-23  regional      gb   weekly  2021-12-23
4  regional-ie-weekly-2021-12-23  regional      ie   weekly  2021-12-23

## Bonus (5 points)

How many different artists have a song with a `song_name` that contains the word "Christmas"?

In [150]:
df[df.song_name.str.contains("CHRISTMAS",case=False, na=False)].drop_duplicates(subset='song_id').artist_name.nunique()

104